.color {
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    width: 100%;
}

.color__image {
    flex-direction: column;
    width: 45%;
}

.color__options {
    width: 35%;
    align-self: center;
}

.color__options p {
    font-size: 1rem;
    color: #A8A8A8;
}

.color__options--itens {
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
}

.color__image img {
    width: 90%;
    padding-top: 10%;
}

h3 {
    font-weight: 100;
    color: #0F1C2D;
    margin-top: -5px;
    letter-spacing: 0.1em;
}

h6 {
    font-size: 0.8rem;
    font-weight: 500;
    color: #0F1C2D;
    letter-spacing: 0.1em;
    padding-left: 90px;
    padding-top: 20px;
}

.color__red {
    color: #AB1725;
}

.title {
    font-size: 3rem;
    font-weight: 100;
    color: #0F1C2D;
    padding-bottom: 5%;
}

.footerbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 60px;
    border-top: 1px solid rgba(243, 242, 242, 0.8);
    box-shadow: 0px 0px 30px rgba(228, 228, 228, 0.8);
}

.footerbar__info {
    display: flex;
    flex-direction: row;
    color: #0F1C2D;
}

.footerbar__price {
    display: flex;
    flex-direction: column;
}

.footerbar__next {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: lowercase;
    padding-left: 110px;
}

.footerbar__next a {
    display: flex;
    text-decoration: none;
    color: #0F1C2D;
}

.footerbar__next--arrow {
    width: 25%;
}

.footerbar__color img {
    width: 100px;
    padding-top: 20%;
    padding-left: 75%;
}