p {
    padding-top:5px;
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.1em;
}

h3 {
    font-size: 1.6rem;
    color: #AB1725;
    font-weight: 100;
    margin-top: -5px;
    letter-spacing: 0.1em;
}

h6 {
    font-size: 0.8rem;
    font-weight: 500;
    color: #0F1C2D;
    letter-spacing: 0.1em;
    padding-left: 90px;
    padding-top: 20px;
}

h4 {
    padding-right: 8px;
    letter-spacing: 0.1em;
}

.engine {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.engine__container {
    background-color: rgb(230, 228, 228);
    padding: 10px;
}

.engine__options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.engine__options h1 {
    font-size: 2rem;
    font-weight: 100;
    color: #0F1C2D;
}

.engine__image img {
    max-width: 300px;
}

.footerbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 60px;
    border-top: 1px solid rgba(243, 242, 242, 0.8);
    box-shadow: 0px 0px 30px rgba(228, 228, 228, 0.8);
}

.footerbar__info {
    display: flex;
    flex-direction: row;
    color: #0F1C2D;
}

.footerbar__price {
    display: flex;
    flex-direction: column;
}

.footerbar__next {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: lowercase;
    padding-left: 110px;
}

.footerbar__next a {
    display: flex;
    text-decoration: none;
    color: #0F1C2D;
}

.footerbar__next--arrow {
    width: 25%;
}

.errormessage {
    font-size: 2rem;
    color: #AB1725;
}