* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Saira Condensed', sans-serif;
}

h2 {
    color: #AB1725;
    font-size: 2rem;
    font-weight: 500;
}

h4 {
    font-weight: 500;
    letter-spacing: 0.3em;
}

h5 {
    color: #0F1C2D;
    font-weight: 500;
}

.navbar__menu--link:link, .navbar__menu--link:visited { 
    color: #A8A8A8;
    text-decoration: none;
}

.navbar__menu--link:link:active, .navbar__menu--link:visited:active { 
    color: #0F1C2D;
    border-bottom: 2px solid #AB1725;
    font-weight: bold;
}

.highlight__red {
    color: #AB1725;
    font-weight: 500;
}

.navbar {
    display: flex;
    justify-content: space-around;
    height: 85px;
    width: 100%;
}

.navbar__logo {
    margin: 7px;
}

.navbar__menu li {
    list-style: none;
    font-size: 0.8rem;
    font-weight: 500;
    color: #A8A8A8;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 0.1em;
    margin: auto 0.9em;
}

.navbar__menu--link:hover{
    color: #0F1C2D;
    border-bottom: 2px solid #AB1725;
}

section {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    color: #AB1725;
}

.section__container {
    font-size: 1.5rem;
}

.section__header {
    position: absolute;
    z-index: 99;
    top: 25%;
    left: 16%;
    width: 62%;
}

.section__begin {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20%;
    text-transform: uppercase;
    color: #0F1C2D;
    letter-spacing: 0.5em;
    font-weight: 600;
}

.section__begin p {
    padding-right: 1em;
}

.section__begin a {
    display: flex;
    text-decoration: none;
    color: #0F1C2D;
}

.section__title {
    font-size: 8rem;
    display: block;
    text-transform: uppercase;
    color: #0F1C2D;
    font-weight: 100;
    letter-spacing: 0.1em;
    margin-top: -40px;
}

.footerbar {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    height: 85px;
}

.footer__info--line {
    display: block;
    width: 100px;
    border-top: 2px solid #AB1725;
}